In [45]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [46]:
df_train = pd.read_excel("../Raw_data/Data_Train.xlsx")
df_test = pd.read_excel("../Raw_data/Data_Test.xlsx")

In [47]:
df_train.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",₹250,₹99,3.7,176,95,30 minutes
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",₹200,₹99,3.2,521,235,65 minutes

In [48]:
df_full = df_train.append(df_test,sort=False)

In [49]:
df_full.shape

(13868, 9)

In [50]:
df_full['Restaurant_name'] = df_full.Restaurant.apply(lambda x: x.split("_")[1])

In [51]:
location_encode = LabelEncoder()

In [52]:
df_full['transformed_location'] = location_encode.fit_transform(df_full.Location)

In [53]:
city = {"FTI College, Law College Road, Pune":"Pune",
 "Sector 3, Marathalli":"Bangalore",
 "Mumbai Central":"Mumbai",
"Sector 1, Noida":"Delhi",
 "Rmz Centennial, I Gate, Whitefield":"Bangalore",
 "Delhi University-GTB Nagar":"Delhi",
"Yerawada, Pune, Maharashtra":"Pune",
 "Delhi Administration Flats, Timarpur":"Delhi",
 "Moulali, Kolkata":"Kolkata",
"Dockyard Road, Mumbai CST Area":"Mumbai",
 "Pune University":"Pune",
 "Gora Bazar, Rajbari, North Dumdum, Kolkata":"Kolkata",
"D-Block, Sector 63, Noida":"Delhi",
 "Sector 14, Noida":"Delhi",
 "Mico Layout, Stage 2, BTM Layout,Bangalore":"Bangalore",
"Laxman Vihar Industrial Area, Sector 3A, Gurgoan":"Gurgoan",
 "Tiretti, Kolkata":"Kolkata",
 "Sandhurst Road, Mumbai CST Area":"Mumbai",
 "MG Road, Pune":"Pune",
 "Hyderabad Public School, Begumpet":"Hyderabad",
"Majestic":"Bangalore",
 "Chandni Chowk, Kolkata":"Kolkata",
 "Delhi High Court, India Gate":"Delhi",
"Chatta Bazaar, Malakpet, Hyderabad":"Hyderabad",
 "Sector 63A,Gurgaon":"Gurgaon",
 "Delhi Cantt.":"Delhi",
"Tejas Nagar Colony, Wadala West, Mumbai":"Mumbai",
 "Babarpur, New Delhi, Delhi":"Delhi",
"Nathan Road, Mangaldas Road, Pune":"Pune",
 "Panjetan Colony, Malakpet, Hyderabad":"Hyderabad",
"Raja Bazar, Kolkata":"Kolkata",
 "Jaya Nagar, Saidabad, Hyderabad":"Hyderabad",
 "Noorkhan Bazaar, Malakpet, Hyderabad":"Hyderabad",
"Musi Nagar, Malakpet, Hyderabad":"Hyderabad",
 "BTM Layout 1, Electronic City":"Bangalore"}

In [54]:
df_full['City'] = df_full.Location.map(city)

In [55]:
city_enc =LabelEncoder()

In [56]:
df_full['City'] = city_enc.fit_transform(df_full.City)

In [57]:
df_full['Count_cuisins'] = df_full.Cuisines.apply(lambda x: len(x.split(",")))

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(df_full.Cuisines)

In [68]:
pd.DataFrame(X.toarray)

ValueError: DataFrame constructor not properly called!

In [66]:
cv.get_feature_names()

['afghan',
 'african',
 'american',
 'andhra',
 'arabian',
 'asian',
 'assamese',
 'awadhi',
 'bakery',
 'bangladeshi',
 'bar',
 'bbq',
 'belgian',
 'bengali',
 'beverages',
 'bihari',
 'biryani',
 'bohri',
 'brazilian',
 'bubble',
 'burger',
 'burmese',
 'cafe',
 'cantonese',
 'charcoal',
 'chettinad',
 'chicken',
 'chinese',
 'coffee',
 'continental',
 'cream',
 'desserts',
 'dogs',
 'eastern',
 'european',
 'fast',
 'finger',
 'food',
 'french',
 'frozen',
 'german',
 'goan',
 'greek',
 'gujarati',
 'healthy',
 'hot',
 'hyderabadi',
 'ice',
 'indian',
 'indonesian',
 'iranian',
 'israeli',
 'italian',
 'japanese',
 'juices',
 'kashmiri',
 'kebab',
 'kerala',
 'konkan',
 'korean',
 'lankan',
 'lebanese',
 'lucknowi',
 'maharashtrian',
 'malaysian',
 'malwani',
 'mangalorean',
 'meats',
 'mediterranean',
 'mex',
 'mexican',
 'middle',
 'mishti',
 'mithai',
 'modern',
 'momos',
 'mughlai',
 'naga',
 'nepalese',
 'north',
 'odia',
 'paan',
 'parsi',
 'pizza',
 'poké',
 'portuguese',
 'rajasthani',
 'raw',
 'roast',
 'rolls',
 'salad',
 'sandwich',
 'seafood',
 'south',
 'spanish',
 'sri',
 'steak',
 'street',
 'sushi',
 'tamil',
 'tea',
 'tex',
 'thai',
 'tibetan',
 'turkish',
 'vietnamese',
 'wraps',
 'yogurt']

In [17]:
import re
df_full = df_full[df_full['Average_Cost']!='for']
df_full['Average_Cost'] = df_full['Average_Cost'].apply(lambda x: re.findall(r"\d+",x)[0])

In [18]:
df_full['Minimum_Order'] = df_full['Minimum_Order'].apply(lambda x: re.findall(r"\d+",x)[0])

In [19]:
pd.unique(df_full['Rating'])

array(['3.5', '3.6', '3.7', '3.2', '3.8', '4.0', '3.9', '4.2', '-', '2.8',
       '3.0', '3.3', '3.1', '4.7', '3.4', '4.1', 'NEW', '2.9', '4.6',
       '4.3', '2.6', '4.5', '4.4', '4.8', '2.4', '2.7', '2.5',
       'Opening Soon', '2.2', '4.9', '2.3', '2.1', 'Temporarily Closed'],
      dtype=object)

In [20]:
val = ['-','NEW','Opening Soon','Temporarily Closed']
val1 = ['-']
val2 = ['Opening Soon','Temporarily Closed']

In [21]:
df_full.Rating = df_full.Rating.apply(lambda x:np.nan if x in val else float(x) )
df_full.Rating = df_full.Rating.fillna(df_full.Rating.mean())

In [22]:
# def test_check(val):
#     try:
#         int(val)
#     except:
#         print(val)

In [23]:
# df_full.Votes.apply(test_check)

In [24]:
df_full.Votes = df_full.Votes.apply(lambda x:np.nan if x=='-' else float(x) )

In [25]:
df_full.Votes = df_full.Votes.fillna(df_full.Votes.mean())

In [26]:
df_full.dtypes

Restaurant               object
Location                 object
Cuisines                 object
Average_Cost             object
Minimum_Order            object
Rating                  float64
Votes                   float64
Reviews                  object
Delivery_Time            object
Restaurant_name          object
transformed_location      int64
City                      int64
Count_cuisins             int64
dtype: object

In [27]:
# def test_check(val):
#     try:
#         int(val)
#     except:
#         print(val)

In [28]:
# df_full.Reviews.apply(test_check)

In [29]:
df_full.Reviews = df_full.Reviews.apply(lambda x:np.nan if x=='-' else float(x))

In [30]:
df_full.Reviews = df_full.Reviews.fillna(df_full.Reviews.mean())

In [31]:

df_full.dropna(inplace = True)

In [32]:
df_full.columns

Index(['Restaurant', 'Location', 'Cuisines', 'Average_Cost', 'Minimum_Order',
       'Rating', 'Votes', 'Reviews', 'Delivery_Time', 'Restaurant_name',
       'transformed_location', 'City', 'Count_cuisins'],
      dtype='object')

In [33]:
df_full.drop(['Restaurant', 'Location', 'Cuisines'],inplace=True,axis=1)

In [34]:
df_full.head()

,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,Restaurant_name,transformed_location,City,Count_cuisins
0,200,50,3.5,12.0,4.0,30 minutes,6321,10,7,5
1,100,50,3.5,11.0,4.0,30 minutes,2882,30,0,2
2,150,50,3.6,99.0,30.0,65 minutes,1595,19,6,3
3,250,99,3.7,176.0,95.0,30 minutes,5929,28,1,3
4,200,99,3.2,521.0,235.0,65 minutes,6123,26,0,2

In [35]:
df_full.Average_Cost = df_full.Average_Cost.astype(int)

In [36]:
df_full.Minimum_Order = df_full.Minimum_Order.astype(int)

In [37]:
df_full.Restaurant_name = df_full.Restaurant_name.astype(int)

In [38]:
df_full.transformed_location = df_full.transformed_location.astype(int)

In [39]:
del_time_encode = LabelEncoder()

In [40]:
del_time_encode.fit(df_full.Delivery_Time)

LabelEncoder()

In [41]:
df_full.Delivery_Time = del_time_encode.transform(df_full.Delivery_Time)

In [110]:
from sklearn.model_selection import train_test_split

In [111]:
X = df_full.drop("Delivery_Time",axis = 1)
Y = df_full.Delivery_Time

In [113]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [114]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [149]:
RC = RandomForestClassifier(n_estimators=1000,n_jobs=-1)

In [150]:
RC.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [151]:
y_pred = RC.predict(X_test)

In [152]:
accuracy_score(y_test,y_pred)

0.8000546298825457

In [153]:
dict(zip(X_train,RC.feature_importances_))

{'Average_Cost': 0.07570975783767046,
 'Minimum_Order': 0.035898016007038534,
 'Rating': 0.10947650616497694,
 'Votes': 0.22970311792101697,
 'Reviews': 0.17390852045633542,
 'Restaurant_name': 0.17576231743026813,
 'transformed_location': 0.08880148150737921,
 'City': 0.05332405282052774,
 'Count_cuisins': 0.057416229854786574}

In [154]:
from sklearn.model_selection import cross_validate

In [155]:
cross_validate(RC,X_train,y_train,error_score='accuracy',cv= 5)

/home/sidhartha/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

{'fit_time': array([3.12178063, 3.07936788, 3.00376844, 2.52965426, 2.49649668]),
 'score_time': array([0.30579996, 0.30643225, 0.30570459, 0.30645919, 0.30576062]),
 'test_score': array([0.79301075, 0.76680108, 0.75252186, 0.756393  , 0.76534053])}

In [156]:
from xgboost import XGBClassifier

In [158]:
xgb = XGBClassifier(n_estimators=1000)

In [159]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [162]:
y_pred = xgb.predict(X_test)

In [163]:
accuracy_score(y_test,y_pred)

0.7727396886096695

In [164]:
cross_validate(xgb,X_train,y_train,error_score='accuracy',cv= 5)

/home/sidhartha/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 3 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

{'fit_time': array([11.42765045, 19.04904413, 11.89695144, 11.51321626, 11.45800972]),
 'score_time': array([0.36309862, 0.77942324, 0.39871597, 0.37805581, 0.37611628]),
 'test_score': array([0.75134409, 0.72983871, 0.73100202, 0.72139973, 0.73971679])}