In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder
import re

In [2]:
df_train = pd.read_excel("../Raw_data/Data_Train.xlsx")
df_test = pd.read_excel("../Raw_data/Data_Test.xlsx")

In [3]:
df_full = df_train.append(df_test)

/home/sidhartha/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [4]:
df_full['Restaurant_name'] = df_full.Restaurant.apply(lambda x: x.split("_")[1])

In [6]:
location_encode = LabelEncoder()
df_full['transformed_location'] = location_encode.fit_transform(df_full.Location)

In [7]:
city = {"FTI College, Law College Road, Pune":"Pune",
 "Sector 3, Marathalli":"Bangalore",
 "Mumbai Central":"Mumbai",
"Sector 1, Noida":"Delhi",
 "Rmz Centennial, I Gate, Whitefield":"Bangalore",
 "Delhi University-GTB Nagar":"Delhi",
"Yerawada, Pune, Maharashtra":"Pune",
 "Delhi Administration Flats, Timarpur":"Delhi",
 "Moulali, Kolkata":"Kolkata",
"Dockyard Road, Mumbai CST Area":"Mumbai",
 "Pune University":"Pune",
 "Gora Bazar, Rajbari, North Dumdum, Kolkata":"Kolkata",
"D-Block, Sector 63, Noida":"Delhi",
 "Sector 14, Noida":"Delhi",
 "Mico Layout, Stage 2, BTM Layout,Bangalore":"Bangalore",
"Laxman Vihar Industrial Area, Sector 3A, Gurgoan":"Gurgoan",
 "Tiretti, Kolkata":"Kolkata",
 "Sandhurst Road, Mumbai CST Area":"Mumbai",
 "MG Road, Pune":"Pune",
 "Hyderabad Public School, Begumpet":"Hyderabad",
"Majestic":"Bangalore",
 "Chandni Chowk, Kolkata":"Kolkata",
 "Delhi High Court, India Gate":"Delhi",
"Chatta Bazaar, Malakpet, Hyderabad":"Hyderabad",
 "Sector 63A,Gurgaon":"Gurgaon",
 "Delhi Cantt.":"Delhi",
"Tejas Nagar Colony, Wadala West, Mumbai":"Mumbai",
 "Babarpur, New Delhi, Delhi":"Delhi",
"Nathan Road, Mangaldas Road, Pune":"Pune",
 "Panjetan Colony, Malakpet, Hyderabad":"Hyderabad",
"Raja Bazar, Kolkata":"Kolkata",
 "Jaya Nagar, Saidabad, Hyderabad":"Hyderabad",
 "Noorkhan Bazaar, Malakpet, Hyderabad":"Hyderabad",
"Musi Nagar, Malakpet, Hyderabad":"Hyderabad",
 "BTM Layout 1, Electronic City":"Bangalore"}

In [8]:
df_full['City'] = df_full.Location.map(city)
city_enc =LabelEncoder()
df_full['City'] = city_enc.fit_transform(df_full.City)
df_full['Count_cuisins'] = df_full.Cuisines.apply(lambda x: len(x.split(",")))

In [9]:
cuisines = []
for i in df_full.Cuisines.values:
    try:
        cuisines.append(i.split(","))
    except:
        cuisines.append(i)

In [10]:
cuisines_cleaned = []
for i in cuisines:
    cuisines_cleaned+=i

In [11]:
final_cuisins = []
for i in list(set(cuisines_cleaned)):
    text = re.findall(r'\w+',i)
    text = (" ").join(text)
    final_cuisins.append(text)

In [12]:
map_dict = dict(zip(set(final_cuisins),[i for i in range (len(set(final_cuisins)))]))

In [30]:
def cuisine_clear(cuisine):
    global map_dict
    cuisines = []
    try:
        cuisines.append(cuisine.split(","))
    except:
        cuisines.append(cuisine)
    
    cuisines_cleaned = []
    for i in cuisines:
        cuisines_cleaned+=i
    final_cuisins = []
    for i in list(set(cuisines_cleaned)):
        text = re.findall(r'\w+',i)
        text = (" ").join(text)
        
        final_cuisins.append(text)
    
    return (",").join(final_cuisins)

In [31]:
df_full['Cuisines_enc'] = df_full.Cuisines.apply(cuisine_clear)

In [36]:
pd.unique(df_full.Cuisines_enc)

array(['Rolls,Fast Food,Burger,Wraps,Salad', 'Desserts,Ice Cream',
       'Fast Food,Street Food,Italian', ...,
       'North Indian,Chinese,Japanese',
       'Italian,Continental,Healthy Food,Desserts,Asian',
       'Rolls,North Indian,Continental,Fast Food,Chinese'], dtype=object)

,Average_Cost,Cuisines,Delivery_Time,Location,Minimum_Order,Rating,Restaurant,Reviews,Votes,Restaurant_name,transformed_location,City,Count_cuisins,Cuisines_enc
0,₹200,"Fast Food, Rolls, Burger, Salad, Wraps",30 minutes,"FTI College, Law College Road, Pune",₹50,3.5,ID_6321,4,12,6321,10,7,5,"Rolls,Fast Food,Burger,Wraps,Salad"
1,₹100,"Ice Cream, Desserts",30 minutes,"Sector 3, Marathalli",₹50,3.5,ID_2882,4,11,2882,30,0,2,"Desserts,Ice Cream"
2,₹150,"Italian, Street Food, Fast Food",65 minutes,Mumbai Central,₹50,3.6,ID_1595,30,99,1595,19,6,3,"Fast Food,Street Food,Italian"
3,₹250,"Mughlai, North Indian, Chinese",30 minutes,"Sector 1, Noida",₹99,3.7,ID_5929,95,176,5929,28,1,3,"Mughlai,Chinese,North Indian"
4,₹200,"Cafe, Beverages",65 minutes,"Rmz Centennial, I Gate, Whitefield",₹99,3.2,ID_6123,235,521,6123,26,0,2,"Beverages,Cafe"