In [84]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder
import re

In [85]:
df_train = pd.read_excel("../Raw_data/Data_Train.xlsx")
df_test = pd.read_excel("../Raw_data/Data_Test.xlsx")

In [86]:
df_full = df_train.append(df_test)

/home/sidhartha/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [87]:
df_full['Restaurant_name'] = df_full.Restaurant.apply(lambda x: x.split("_")[1])

In [88]:
location_encode = LabelEncoder()

In [89]:
df_full['transformed_location'] = location_encode.fit_transform(df_full.Location)

In [90]:
city = {"FTI College, Law College Road, Pune":"Pune",
 "Sector 3, Marathalli":"Bangalore",
 "Mumbai Central":"Mumbai",
"Sector 1, Noida":"Delhi",
 "Rmz Centennial, I Gate, Whitefield":"Bangalore",
 "Delhi University-GTB Nagar":"Delhi",
"Yerawada, Pune, Maharashtra":"Pune",
 "Delhi Administration Flats, Timarpur":"Delhi",
 "Moulali, Kolkata":"Kolkata",
"Dockyard Road, Mumbai CST Area":"Mumbai",
 "Pune University":"Pune",
 "Gora Bazar, Rajbari, North Dumdum, Kolkata":"Kolkata",
"D-Block, Sector 63, Noida":"Delhi",
 "Sector 14, Noida":"Delhi",
 "Mico Layout, Stage 2, BTM Layout,Bangalore":"Bangalore",
"Laxman Vihar Industrial Area, Sector 3A, Gurgoan":"Gurgoan",
 "Tiretti, Kolkata":"Kolkata",
 "Sandhurst Road, Mumbai CST Area":"Mumbai",
 "MG Road, Pune":"Pune",
 "Hyderabad Public School, Begumpet":"Hyderabad",
"Majestic":"Bangalore",
 "Chandni Chowk, Kolkata":"Kolkata",
 "Delhi High Court, India Gate":"Delhi",
"Chatta Bazaar, Malakpet, Hyderabad":"Hyderabad",
 "Sector 63A,Gurgaon":"Gurgaon",
 "Delhi Cantt.":"Delhi",
"Tejas Nagar Colony, Wadala West, Mumbai":"Mumbai",
 "Babarpur, New Delhi, Delhi":"Delhi",
"Nathan Road, Mangaldas Road, Pune":"Pune",
 "Panjetan Colony, Malakpet, Hyderabad":"Hyderabad",
"Raja Bazar, Kolkata":"Kolkata",
 "Jaya Nagar, Saidabad, Hyderabad":"Hyderabad",
 "Noorkhan Bazaar, Malakpet, Hyderabad":"Hyderabad",
"Musi Nagar, Malakpet, Hyderabad":"Hyderabad",
 "BTM Layout 1, Electronic City":"Bangalore"}

In [91]:
df_full['City'] = df_full.Location.map(city)
city_enc =LabelEncoder()
df_full['City'] = city_enc.fit_transform(df_full.City)
df_full['Count_cuisins'] = df_full.Cuisines.apply(lambda x: len(x.split(",")))

In [92]:
df_full.head()

,Average_Cost,Cuisines,Delivery_Time,Location,Minimum_Order,Rating,Restaurant,Reviews,Votes,Restaurant_name,transformed_location,City,Count_cuisins
0,₹200,"Fast Food, Rolls, Burger, Salad, Wraps",30 minutes,"FTI College, Law College Road, Pune",₹50,3.5,ID_6321,4,12,6321,10,7,5
1,₹100,"Ice Cream, Desserts",30 minutes,"Sector 3, Marathalli",₹50,3.5,ID_2882,4,11,2882,30,0,2
2,₹150,"Italian, Street Food, Fast Food",65 minutes,Mumbai Central,₹50,3.6,ID_1595,30,99,1595,19,6,3
3,₹250,"Mughlai, North Indian, Chinese",30 minutes,"Sector 1, Noida",₹99,3.7,ID_5929,95,176,5929,28,1,3
4,₹200,"Cafe, Beverages",65 minutes,"Rmz Centennial, I Gate, Whitefield",₹99,3.2,ID_6123,235,521,6123,26,0,2

In [93]:
cuisines = []
for i in df_full.Cuisines.values:
    try:
        cuisines.append(i.split(","))
    except:
        cuisines.append(i)

In [94]:
cuisines_cleaned = []
for i in cuisines:
    cuisines_cleaned+=i

In [95]:
final_cuisins = []
for i in list(set(cuisines_cleaned)):
    text = re.findall(r'\w+',i)
    text = (" ").join(text)
    final_cuisins.append(text)

In [96]:
map_dict = dict(zip(set(final_cuisins),[i for i in range (len(set(final_cuisins)))]))

In [97]:
# pd.DataFrame({"cuisins":list(set(final_cuisins))}).to_csv("test.csv")

In [98]:
df_time_taken = pd.read_csv("test.csv")

In [99]:
time = dict(zip(df_time_taken.cuisins,df_time_taken.time_to_cook))

In [100]:
def cuisine_clear(cuisine):
    global map_dict
    cuisines = []
    try:
        cuisines.append(cuisine.split(","))
    except:
        cuisines.append(cuisine)
    
    cuisines_cleaned = []
    for i in cuisines:
        cuisines_cleaned+=i
    final_cuisins = []
    for i in list(set(cuisines_cleaned)):
        text = re.findall(r'\w+',i)
        text = (" ").join(text)
        for i,k in  map_dict.items():
            if i == text:
                final_cuisins.append(k)
    return sum(final_cuisins)

In [101]:
df_full['Cuisines_enc'] = df_full.Cuisines.apply(cuisine_clear)

In [102]:
def average_time_taken(cuisine):
    global time
    cuisines = []
    try:
        cuisines.append(cuisine.split(","))
    except:
        cuisines.append(cuisine)
    
    cuisines_cleaned = []
    for i in cuisines:
        cuisines_cleaned+=i
    final_cuisins = []
    for i in list(set(cuisines_cleaned)):
        text = re.findall(r'\w+',i)
        text = (" ").join(text)
        for i,k in  time.items():
            if i == text:
                final_cuisins.append(k)
    return int(sum(final_cuisins)/len(final_cuisins))

In [103]:
# df_full["Average_cooking_time"] = df_full.Cuisines.apply(average_time_taken)

In [104]:
from sklearn.multiclass import ClassifierMixin

In [105]:
import re
df_full = df_full[df_full['Average_Cost']!='for']
df_full['Average_Cost'] = df_full['Average_Cost'].apply(lambda x: re.findall(r"\d+",x)[0])

In [106]:
df_full['Minimum_Order'] = df_full['Minimum_Order'].apply(lambda x: re.findall(r"\d+",x)[0])

In [107]:
df_full.head()

,Average_Cost,Cuisines,Delivery_Time,Location,Minimum_Order,Rating,Restaurant,Reviews,Votes,Restaurant_name,transformed_location,City,Count_cuisins,Cuisines_enc
0,200,"Fast Food, Rolls, Burger, Salad, Wraps",30 minutes,"FTI College, Law College Road, Pune",50,3.5,ID_6321,4,12,6321,10,7,5,369
1,100,"Ice Cream, Desserts",30 minutes,"Sector 3, Marathalli",50,3.5,ID_2882,4,11,2882,30,0,2,95
2,150,"Italian, Street Food, Fast Food",65 minutes,Mumbai Central,50,3.6,ID_1595,30,99,1595,19,6,3,144
3,250,"Mughlai, North Indian, Chinese",30 minutes,"Sector 1, Noida",99,3.7,ID_5929,95,176,5929,28,1,3,217
4,200,"Cafe, Beverages",65 minutes,"Rmz Centennial, I Gate, Whitefield",99,3.2,ID_6123,235,521,6123,26,0,2,167

In [108]:
df_full = df_full.reset_index(drop = True)

In [109]:
val = ['-','NEW','Opening Soon','Temporarily Closed']
val1 = ['-']
val2 = ['Opening Soon','Temporarily Closed']

df_full.Rating = df_full.Rating.apply(lambda x:np.nan if x in val else float(x) )
def missing_value_rating(df):
    df.Rating = df.Rating.fillna(df.Rating.mean())
    return df

df_full = df_full.groupby("transformed_location").apply(missing_value_rating)
df_full.Rating = df_full.Rating.fillna(df_full.Rating.mean())
def missing_votes(df):
    df.Votes = df.Votes.fillna(df.Votes.mean()) 
    return df

df_full.Votes = df_full.Votes.apply(lambda x:np.nan if x=='-' else float(x) )
# # df_full.Votes = df_full.Votes.fillna(int(df_full.Votes.mean()))

df_full =df_full.groupby("transformed_location").apply(missing_votes)

In [110]:
def missing_reviews(df):
    df.Reviews = df.Reviews.fillna(df.Reviews.mean()) 
    return df
df_full.Reviews = df_full.Reviews.apply(lambda x:np.nan if x=='-' else float(x))
df_full =df_full.groupby("City").apply(missing_votes)
df_full.Reviews = df_full.Reviews.fillna(df_full.Reviews.mean())

In [111]:
df_full.drop(['Restaurant', 'Location','Cuisines'],inplace=True,axis=1)

In [112]:
df_test.shape

(2774, 8)

In [113]:
df_test = df_full[df_full.Delivery_Time.isnull()]

In [114]:
df_full.describe()

,Rating,Reviews,Votes,transformed_location,City,Count_cuisins,Cuisines_enc
count,13867.000000,13867.000000,13867.000000,13867.000000,13867.000000,13867.000000,13867.000000
mean,3.608694,120.893004,237.772249,16.909786,2.827865,2.345208,153.371169
std,0.376291,280.605025,496.364607,9.626750,2.690380,1.246501,87.999152
min,2.100000,1.000000,3.000000,0.000000,0.000000,1.000000,0.000000
25%,3.400000,10.000000,25.000000,8.000000,1.000000,1.000000,87.000000
50%,3.600000,48.000000,102.000000,17.000000,1.000000,2.000000,143.000000
75%,3.800000,120.893004,247.023529,27.000000,6.000000,3.000000,215.000000
max,4.900000,6504.000000,9054.000000,34.000000,7.000000,8.000000,593.000000

In [115]:
df_full.dropna(inplace = True)

In [116]:
df_full.head()

,Average_Cost,Delivery_Time,Minimum_Order,Rating,Reviews,Votes,Restaurant_name,transformed_location,City,Count_cuisins,Cuisines_enc
0,200,30 minutes,50,3.5,4.0,12.0,6321,10,7,5,369
1,100,30 minutes,50,3.5,4.0,11.0,2882,30,0,2,95
2,150,65 minutes,50,3.6,30.0,99.0,1595,19,6,3,144
3,250,30 minutes,99,3.7,95.0,176.0,5929,28,1,3,217
4,200,65 minutes,99,3.2,235.0,521.0,6123,26,0,2,167

In [117]:
# df_full.drop(['Restaurant', 'Location'],inplace=True,axis=1)

In [118]:
df_full.Average_Cost = df_full.Average_Cost.astype(int)
df_full.Minimum_Order = df_full.Minimum_Order.astype(int)
df_full.Restaurant_name = df_full.Restaurant_name.astype(int)
df_full.transformed_location = df_full.transformed_location.astype(int)

In [119]:
del_time_encode = LabelEncoder()
del_time_encode.fit(df_full.Delivery_Time)
df_full.Delivery_Time = del_time_encode.transform(df_full.Delivery_Time)

In [120]:
test = df_full.groupby("transformed_location").apply(lambda x: x.Delivery_Time.mean()).reset_index()

In [121]:
# df_full['Average_delivery_time'] = df_full['transformed_location'].map(dict(zip(test.transformed_location,test[0])))

In [122]:
# df_test['Average_delivery_time'] = df_test['transformed_location'].map(dict(zip(test.transformed_location,test[0])))

In [123]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [124]:
X = df_full.drop("Delivery_Time",axis = 1)
Y = df_full.Delivery_Time

In [125]:
# X = X[['Cuisines','Rating','Reviews','Votes','Restaurant_name','City']]

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.01, random_state=42)

In [127]:
RC = RandomForestClassifier(n_estimators=1000,n_jobs=-1,max_leaf_nodes=1800,max_features=4)

In [128]:
RC.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=4, max_leaf_nodes=1800,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [129]:
y_pred = RC.predict(X_test)

In [130]:
accuracy_score(y_test,y_pred)

0.8018018018018018

In [131]:
dict(zip(X_train,RC.feature_importances_))

{'Average_Cost': 0.0661644295628113,
 'Minimum_Order': 0.03775449963345477,
 'Rating': 0.0946715947028055,
 'Reviews': 0.19553174251175193,
 'Votes': 0.18766043364401852,
 'Restaurant_name': 0.14725322767837298,
 'transformed_location': 0.06967321814306877,
 'City': 0.04704599928341478,
 'Count_cuisins': 0.037296889026606814,
 'Cuisines_enc': 0.11694796581369483}

In [132]:
from sklearn.model_selection import cross_validate

In [133]:
cross_validate(RC,X,Y,error_score='accuracy',cv= 5)

/home/sidhartha/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

{'fit_time': array([4.0839541 , 3.87674022, 3.95781875, 4.24820852, 4.8429575 ]),
 'score_time': array([0.30572319, 0.30559373, 0.30579233, 0.30442095, 0.3058579 ]),
 'test_score': array([0.8045045 , 0.8009009 , 0.80802163, 0.79711452, 0.80099278])}

In [134]:
# # from sklearn.model_selection import GridSearchCV
# params ={'bootstrap': [True, False],
#  'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
#  'max_features': ['auto', 'sqrt',4,6,8],
#  'min_samples_leaf': [1, 2, 4],
#  'min_samples_split': [2, 5, 10],
#  'n_estimators': [800, 1000, 1200, 1400, 1600, 1800, 2000]}
# gcv = GridSearchCV(RC,param_grid=params,scoring='accuracy',cv=5,n_jobs=-1)
# gcv.fit(X,Y)

In [135]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(n_estimators = 400,learning_rate=0.01,num_leaves=50,min_child_weight=0.0001)

lgbm.fit(X_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.01, max_depth=-1,
               min_child_samples=20, min_child_weight=0.0001,
               min_split_gain=0.0, n_estimators=400, n_jobs=-1, num_leaves=50,
               objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
               silent=True, subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [136]:
y_pred = lgbm.predict(X_test)

In [137]:
accuracy_score(y_test,y_pred)

0.7387387387387387

In [138]:
dict(zip(X_train,lgbm.feature_importances_))

{'Average_Cost': 9141,
 'Minimum_Order': 4106,
 'Rating': 13503,
 'Reviews': 18336,
 'Votes': 19273,
 'Restaurant_name': 27493,
 'transformed_location': 11987,
 'City': 6670,
 'Count_cuisins': 3457,
 'Cuisines_enc': 23220}

In [139]:
cross_validate(lgbm,X,Y,error_score='accuracy',cv= 5)

/home/sidhartha/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

{'fit_time': array([5.36186647, 5.34279919, 5.16498613, 5.11726522, 5.14210367]),
 'score_time': array([0.1543138 , 0.13527679, 0.14151621, 0.13398409, 0.1360898 ]),
 'test_score': array([0.7545045 , 0.74414414, 0.75574583, 0.748422  , 0.74864621])}

In [149]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

In [168]:
def probability_builder(X,Y,test):
    dst = DecisionTreeClassifier()
    ext = ExtraTreeClassifier()
    gbt = GradientBoostingClassifier(n_estimators= 10)
    nb  = MultinomialNB()
    sv  = SVC(probability= True)
    
    dst.fit(X,Y)
    ext.fit(X,Y)
    gbt.fit(X,Y)
    nb.fit(X,Y)
    sv.fit(X,Y)
    df = pd.DataFrame()
    df['m1'] = list(dst.predict_proba(X))
    df['m2'] = list(ext.predict_proba(X))
#     df = pd.DataFrame({"m1":dst.predict_proba(X),"m2":ext.predict_proba(X),
#                        "m3":gbt.predict_proba(X),"m4":nb.predict_proba(X)}, index = [x for x in range(X.shape[0])])
    return df

In [169]:
probability_builder(X_train,y_train,X_test)

/home/sidhartha/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

ValueError: Wrong number of items passed 7, placement implies 1

In [141]:
df_full.shape

(11093, 11)

In [142]:
RC.fit(X,Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=4, max_leaf_nodes=1800,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [143]:
df_test

,Average_Cost,Delivery_Time,Minimum_Order,Rating,Reviews,Votes,Restaurant_name,transformed_location,City,Count_cuisins,Cuisines_enc
11093,350,NaN,50,4.200000,225.000000,361.000000,2842,17,0,3,149
11094,100,NaN,50,3.707055,120.893004,255.777893,730,17,0,2,121
11095,100,NaN,50,3.600000,16.000000,36.000000,4620,28,1,1,91
11096,200,NaN,50,3.600000,33.000000,66.000000,5470,1,1,5,336
11097,150,NaN,50,2.900000,14.000000,38.000000,3249,28,1,2,173
...,...,...,...,...,...,...,...,...,...,...,...
13862,100,NaN,50,3.626170,120.893004,224.393673,6342,8,1,2,173
13863,250,NaN,50,3.100000,1.000000,5.000000,8495,17,0,4,272
13864,150,NaN,50,3.000000,1.000000,16.000000,7122,22,4,2,168
13865,100,NaN,99,3.000000,2.000000,7.000000,2475,4,1,1,0
13866,150,NaN,50,3.600000,30.000000,99.000000,1595,9,6,3,144

In [144]:
y_pred = RC.predict(df_test.drop("Delivery_Time",axis=1)[X.columns])

In [145]:
df_submit = pd.DataFrame({"Delivery_Time":del_time_encode.inverse_transform(y_pred)})

In [146]:
df_submit

     Delivery_Time
0       30 minutes
1       30 minutes
2       30 minutes
3       30 minutes
4       30 minutes
...            ...
2769    30 minutes
2770    30 minutes
2771    45 minutes
2772    30 minutes
2773    65 minutes

[2774 rows x 1 columns]

In [147]:
df_submit.to_excel("submit.xlsx",index = False)